<!-- Blank page -->

<section class="container-fluid main-header top" data-parallax="scroll" data-speed="0.5" data-image-src="images/backgrounds/watch-texture-4.jpg">
    <header class="title reveal">
        <h1>This is a blog title</h1>
    </header>
    <article class="container">
        <div class="col-md-2"></div>
        <div class="col-md-8">
            <p class="reveal">Posted by: Lorem on 12/05/2018</p>
        </div>
        <div class="col-md-2"></div>
    </article>
</section>

<section class="container blog-full-large-video reveal">
    <div class="row">
        <div class="inner">
        <div class="embed-responsive embed-responsive-16by9">
                <iframe class="embed-responsive-item" src="https://www.youtube.com/embed/l0D9OWiQAx4" frameborder="0" allow="autoplay; encrypted-media" allowfullscreen></iframe>
            </div>
        </div>
    </div>
</section>

<div class="container blog-main">
    <div class="row">
        <div class="col-md-1"></div>
        <div class="main-text">

            <header class="intro-header">
                <h2>Lorem Ipsum</h2>
            </header>

    
            <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit. Pellentesque quis posuere orci, a hendrerit metus. Sed est turpis, congue in faucibus vitae, mollis sagittis leo. Aenean libero tellus, fermentum vitae consequat quis, posuere ac leo. Vivamus in eros feugiat sapien euismod rutrum eget sed nulla. Pellentesque ante nibh, euismod quis tortor id, porta accumsan eros.</p>
            
            <div class="image-inner">
                <img src="images/backgrounds/watch-texture-1.jpg" class="img-respond" />
            </div>

            <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit. Pellentesque quis posuere orci, a hendrerit metus. Sed est turpis, congue in faucibus vitae, mollis sagittis leo. Aenean libero tellus, fermentum vitae consequat quis, posuere ac leo. Vivamus in eros feugiat sapien euismod rutrum eget sed nulla. Pellentesque ante nibh, euismod quis tortor id, porta accumsan eros.</p>

            <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit. Pellentesque quis posuere orci, a hendrerit metus. Sed est turpis, congue in faucibus vitae, mollis sagittis leo. Aenean libero tellus, fermentum vitae consequat quis, posuere ac leo. Vivamus in eros feugiat sapien euismod rutrum eget sed nulla. Pellentesque ante nibh, euismod quis tortor id, porta accumsan eros.</p>

        </div>
        <div class="col-md-1"></div>
    </div>
</div>

<div class="container blog-nav reveal">
    <div class="row">
        <div class="inner">

            <div class="blog-nav-item">
                <a href="blog-full.html"><i class="fas fa-angle-left"></i> PREVIOUS POST</a>
            </div>

            <div class="blog-nav-item right">
                <a href="blog-full.html">NEXT POST <i class="fas fa-angle-right"></i></a>
            </div>

        </div>
    </div>
</div>

<!-- Blank page ends -->