<section class="container view-prize">

    <div class="row">

        <div class="image-hero reveal">
            <img src="images/products/watch-large.jpg" alt="Image title" class="img-respond"/>

            <div class="ribbon ribbon-top-left">
                <span>TICKET PRICE £2.50</span>
            </div>
        </div>

        <article class="info">
            <div class="inner">
                <header class="intro-header reveal">
                    <h1>Rolex Pearlmaster</h1>
                </header>
            </div>

            <div class="col-md-3"></div>
            <div class="info-inner reveal">
                <p>The Rolex Pearlmaster is Rolex’s crowning jewellery watch. Featuring the softly curved lines of the Pearlmaster design, it is characterised by uniquely rich dials and exquisite gem settings of diamonds, sapphires or rubies and available only in 18 ct yellow, white or Everose gold made by Rolex in its own foundry.</p>
            
                 <div class="enter-now-button">
                    <a href="catalogue.html" title="Enter Now" class="enter">
                        <div class="btn btn-enter">
                            ENTER NOW <i class="fas fa-angle-right"></i>
                        </div>
                    </a>
                </div>
            
            </div>
            <div class="col-md-3"></div>
            <div class="clearfix"></div>
        </article>

        <article class="specs">

            <div class="spec-column reveal-stagger">
                <heading>
                    <h3>MODEL CASE</h3>
                </heading>

                <div class="spec-inner">

                    <div class="spec-item">
                        <header>
                            <h4>MODEL CASE</h4>
                        </header>
                        <p>Oyster, 39 mm, Everose gold and diamonds</p>
                    </div>

                    <div class="spec-item">
                        <header>
                            <h4>OYSTER ARCHITECTURE</h4>
                        </header>
                        <p>Monobloc middle case, screw-down case back and winding crown</p>
                    </div>

                    <div class="spec-item">
                        <header>
                            <h4>DIAMETER</h4>
                        </header>
                        <p>39 mm</p>
                    </div>

                    <div class="spec-item">
                        <header>
                            <h4>MATERIAL</h4>
                        </header>
                        <p>18 ct Everose gold</p>
                    </div>

                    <div class="spec-item">
                        <header>
                            <h4>BEZEL</h4>
                        </header>
                        <p>Set with diamonds</p>
                    </div>

                    <div class="spec-item">
                        <header>
                            <h4>WINDING CROWN</h4>
                        </header>
                        <p>Screw-down, Twinlock double waterproofness system</p>
                    </div>

                    <div class="spec-item">
                        <header>
                            <h4>CRYSTAL</h4>
                        </header>
                        <p>Scratch-resistant sapphire, Cyclops lens over the date</p>
                    </div>

                    <div class="spec-item">
                        <header>
                            <h4>WATER-RESISTANCE</h4>
                        </header>
                        <p>Waterproof to 100 metres / 330 feet</p>
                    </div>

                </div>
            </div>

            <div class="spec-column reveal-stagger">
                <heading>
                    <h3>MOVEMENT</h3>
                </heading>

                <div class="spec-inner">

                    <div class="spec-item">
                        <header>
                            <h4>MOVEMENT</h4>
                        </header>
                        <p>Perpetual, mechanical, self-winding</p>
                    </div>

                    <div class="spec-item">
                        <header>
                            <h4>CALIBRE</h4>
                        </header>
                        <p>3235, Manufacture Rolex</p>
                    </div>

                    <div class="spec-item">
                        <header>
                            <h4>PRECISION</h4>
                        </header>
                        <p>-2/+2 sec/day, after casing</p>
                    </div>

                    <div class="spec-item">
                        <header>
                            <h4>FUNCTIONS</h4>
                        </header>
                        <p>Centre hour, minute and seconds hands. Instantaneous date with rapid setting. Stop-seconds for precise time setting
    </p>
                    </div>

                    <div class="spec-item">
                        <header>
                            <h4>OSCILLATOR</h4>
                        </header>
                        <p>Paramagnetic blue Parachrom hairspring</p>
                    </div>

                    <div class="spec-item">
                        <header>
                            <h4>WINDING</h4>
                        </header>
                        <p>Bidirectional self-winding via Perpetual rotor</p>
                    </div>

                    <div class="spec-item">
                        <header>
                            <h4>POWER RESERVE</h4>
                        </header>
                        <p>Approximately 70 hours</p>
                    </div>
                </div>

            </div>

            <div class="spec-column reveal-stagger">
                <heading>
                    <h3>BRACELET</h3>
                </heading>

                <div class="spec-inner">
                    <div class="spec-item">
                        <header>
                            <h4>BRACELET</h4>
                        </header>
                        <p>Pearlmaster, rounded five-piece links</p>
                    </div>

                    <div class="spec-item">
                        <header>
                            <h4>BRACELET MATERIAL</h4>
                        </header>
                        <p>18 ct Everose gold</p>
                    </div>

                    <div class="spec-item">
                        <header>
                            <h4>CLASP</h4>
                        </header>
                        <p>Concealed folding Crownclasp</p>
                    </div>

                </div>

                 <heading>
                    <h3>DIAL</h3>
                </heading>

                <div class="spec-inner">
                    <div class="spec-item">
                        <header>
                            <h4>DIAL</h4>
                        </header>
                        <p>Aubergine set with diamonds</p>
                    </div>

                    <div class="spec-item">
                        <header>
                            <h4>GEM-SETTING</h4>
                        </header>
                        <p>Diamonds in 18 ct gold settings</p>
                    </div>
                </div>

            </div>

        </article>

    </div>
</section>