<!-- Credit problems page -->

<section class="container-fluid form-header">
    <header>
        <h1>Credit problems</h1>
    </header>

    <article class="container">
        <div class="col-md-2"></div>
        <div class="col-md-8">
            <p class="reveal">Lorem ipsum dolor sit amet, consectetur adipiscing elit. Pellentesque quis posuere orci, a hendrerit metus. Sed est turpis, congue in faucibus vitae, mollis sagittis leo. Aenean libero tellus, fermentum vitae consequat quis, posuere ac leo. Vivamus in eros feugiat sapien euismod rutrum eget sed nulla. Pellentesque ante nibh, euismod quis tortor id, porta accumsan eros.</p>
        </div>
        <div class="col-md-2"></div>
    </article>
</section>


<section class="container-fluid form-outer login-form">
    <div class="container">
        <div class="row">
            <div class="col-md-3"></div>

            <div class="col-md-6 form">
                
                <div class="inner">
                    <form >
                        <div class="form-group">
                            <label for="name"><span class="red">*</span> Name:</label>
                            <input type="text" class="form-control" id="name" required />
                        </div>

                        <div class="form-group">
                            <label for="email"><span class="red">*</span> Email address:</label>
                            <input type="email" class="form-control" id="email" required />
                        </div>

                        <div class="form-group">
                            <label for="number-of-credits-purchased"><span class="red">*</span> Number of credits purchased:</label>
                            <input type="number" class="form-control" id="number-of-credits-purchased" required />
                        </div>

                        <hr/>

                        <div class="form-group">
                            <label><span class="red">*</span> Time/Date of purchase:</label>
                        </div>

                        <div class="row">

                            <div class="form-group col-md-6">
                                

                                <div class="row">
                                    <div class="col-xs-6">
                                        <label for="time-hours"><span class="red">*</span> Hours</label>
                                        <select class="form-control" id="time-hours">
                                            <option value="1">01</option>
                                            <option value="2">02</option>
                                            <option value="3">03</option>
                                            <option value="4">04</option>
                                            <option value="5">05</option>
                                            <option value="6">06</option>
                                            <option value="7">07</option>
                                            <option value="8">08</option>
                                            <option value="9">09</option>
                                            <option value="10">10</option>
                                            <option value="11">11</option>
                                            <option value="12">12</option>
                                            <option value="13">13</option>
                                            <option value="14">14</option>
                                            <option value="15">15</option>
                                            <option value="16">16</option>
                                            <option value="17">17</option>
                                            <option value="18">18</option>
                                            <option value="19">19</option>
                                            <option value="20">20</option>
                                            <option value="21">21</option>
                                            <option value="22">22</option>
                                            <option value="23">23</option>
                                            <option value="00">00</option>
                                        </select>
                                    </div>

                                    <div class="col-xs-6">
                                        <label for="time-minutes"><span class="red">*</span> Minutes</label>
                                        <select class="form-control" id="time-minutes">
                                            <option value="1">01</option>
                                            <option value="2">02</option>
                                            <option value="3">03</option>
                                            <option value="4">04</option>
                                            <option value="5">05</option>
                                            <option value="6">06</option>
                                            <option value="7">07</option>
                                            <option value="8">08</option>
                                            <option value="9">09</option>
                                            <option value="10">10</option>
                                            <option value="11">11</option>
                                            <option value="12">12</option>
                                            <option value="13">13</option>
                                            <option value="14">14</option>
                                            <option value="15">15</option>
                                            <option value="16">16</option>
                                            <option value="17">17</option>
                                            <option value="18">18</option>
                                            <option value="19">19</option>
                                            <option value="20">20</option>
                                            <option value="21">21</option>
                                            <option value="22">22</option>
                                            <option value="23">23</option>
                                            <option value="24">24</option>
                                            <option value="25">25</option>
                                            <option value="26">26</option>
                                            <option value="27">27</option>
                                            <option value="28">28</option>
                                            <option value="29">29</option>
                                            <option value="30">30</option>
                                            <option value="31">31</option>
                                            <option value="32">32</option>
                                            <option value="33">33</option>
                                            <option value="34">34</option>
                                            <option value="35">35</option>
                                            <option value="36">36</option>
                                            <option value="37">37</option>
                                            <option value="38">38</option>
                                            <option value="39">39</option>
                                            <option value="40">40</option>
                                            <option value="41">41</option>
                                            <option value="42">42</option>
                                            <option value="43">43</option>
                                            <option value="44">44</option>
                                            <option value="45">45</option>
                                            <option value="46">46</option>
                                            <option value="47">47</option>
                                            <option value="48">48</option>
                                            <option value="49">49</option>
                                            <option value="50">50</option>
                                            <option value="51">51</option>
                                            <option value="52">52</option>
                                            <option value="53">53</option>
                                            <option value="54">54</option>
                                            <option value="55">55</option>
                                            <option value="56">56</option>
                                            <option value="57">57</option>
                                            <option value="58">58</option>
                                            <option value="59">59</option>
                                        </select>
                                    </div>
                                </div>
                            </div>

                            <div class="form-group col-md-6">
                                <label for="date"><span class="red">*</span> Date:</label>
                                <div class="input-group date">

                                
                                <input type="text" class="form-control" id="date" required>
                                    <div class="input-group-addon">
                                        <button class="btn-form ">
                                            <i class="fas fa-calendar-alt"></i>
                                        </button>
                                    </div>
                                </div>
                            </div>



                        </div>

                        <hr/>


                        <div class="form-group">
                            <label for="last-4-digits-cc"><span class="red">*</span> Last 4 digits of CC:</label>
                            <input type="number" class="form-control" id="last-4-digits-cc" required />
                        </div>

                        <div class="required">
                            <span class="red">*</span> Required field
                        </div>

                        <div class="submit">
                            <button type="submit" class="btn btn-enter">Send details</button>
                        </div>
                        


                    </form>
                </div>
            </div>

            <div class="col-md-3"></div>
        </div>
    </div>
</section>

<!-- Credit problems page ends -->