<!-- Login form -->

<section class="container-fluid form-header">
    <header>
        <h1>Login</h1>
    </header>

   <article class="container">
        <div class="col-md-2"></div>
        <div class="col-md-8">
            <p class="reveal">Lorem ipsum dolor sit amet, consectetur adipiscing elit. Pellentesque quis posuere orci, a hendrerit metus. Sed est turpis, congue in faucibus vitae, mollis sagittis leo. Aenean libero tellus, fermentum vitae consequat quis, posuere ac leo. Vivamus in eros feugiat sapien euismod rutrum eget sed nulla. Pellentesque ante nibh, euismod quis tortor id, porta accumsan eros.</p>
        </div>
        <div class="col-md-2"></div>
    </article>
</section>

<section class="container-fluid form-outer login-form">
    <div class="container">
        <div class="row">
            <div class="col-md-3"></div>

            <div class="col-md-6 form">
                
                <div class="inner">
                    <form >

                        <div class="form-group">
                            <label for="email">Email address:</label>
                            <input type="email" class="form-control" id="email" />
                        </div>

                        <div class="form-group">
                            <label for="password">Password:</label>
                            <input type="password" class="form-control" id="password" />
                        </div>

                        <div class="forgot-password"><a href="">Forgot your password?</a></div>

                        <div class="submit">
                            <button type="submit" class="btn btn-enter">Login</button>
                        </div>

                    </form>
                </div>
            </div>

            <div class="col-md-3"></div>
        </div>
    </div>
</section>

<!-- Login form ends -->

<p>&nbsp;</p>
<p>&nbsp;</p>

<!-- Login with errors -->

<section class="container-fluid form-outer login-form">
    <div class="container">
        <div class="row">
            <div class="col-md-3"></div>

            <div class="col-md-6 form">
                
                <div class="inner">
                    <form >

                        <div class="form-group">
                            <label for="email" class="error">Email address:</label>
                            <input type="email" class="form-control form-error" id="email" />
                            <div class="error-inline"><i class="fas fa-exclamation-circle"></i> Error message</div>
                        </div>

                        <div class="form-group">
                            <label for="password">Password:</label>
                            <input type="password" class="form-control" id="password" />
                        </div>

                        <div class="forgot-password"><a href="">Forgot your password?</a></div>

                        <div class="submit">
                            <button type="submit" class="btn btn-enter">Login</button>
                        </div>

                    </form>
                </div>
            </div>

            <div class="col-md-3"></div>
        </div>
    </div>
</section>

<!-- Login with errors ends -->

<p>&nbsp;</p>
<p>&nbsp;</p>

<!-- Password reset -->

<section class="container-fluid form-header">
    <header>
        <h1>Reset your password</h1>
    </header>

    <div class="form-intro">
        <p>Lorem ipsum dolor icit</p>
    </div>
</section>

<section class="container-fluid form-outer login-form">
    <div class="container">
        <div class="row">
            <div class="col-md-3"></div>

            <div class="col-md-6 form">
                
                <div class="inner">
                    <form >

                        <div class="form-group">
                            <label for="email">Email address:</label>
                            <input type="email" class="form-control" id="email" />
                        </div>

                        <div class="submit">
                            <button type="submit" class="btn btn-enter">Reset password</button>
                        </div>

                    </form>
                </div>
            </div>

            <div class="col-md-3"></div>
        </div>
    </div>
</section>

<!-- Password reset ends -->

<p>&nbsp;</p>
<p>&nbsp;</p>

<!-- Password reset confirmation -->

<section class="container-fluid form-outer login-form">
    <div class="container">
        <div class="row">
            <div class="col-md-3"></div>

            <div class="col-md-6 form">
                
                <div class="inner">
                 

                        <div class="success">
                            <p class="alert">
                                <i class="fas fa-envelope-open"></i>
                            </p>
                            <h3>Password reset successfully</h3>
                            <p>Please check your emails for your reset password link</p>
                        </div>

        
                </div>
            </div>

            <div class="col-md-3"></div>
        </div>
    </div>
</section>

<!-- Password reset confirmation ends -->