<!-- About us -->

<section class="container-fluid main-header top" data-parallax="scroll" data-speed="0.5" data-image-src="images/backgrounds/watch-texture-2.jpg">
    <header class="title reveal">
        <h1>About</h1>
    </header>

    <article class="container">
        <div class="col-md-2"></div>
        <div class="col-md-8">
            <p class="reveal">Lorem ipsum dolor sit amet, consectetur adipiscing elit. Pellentesque quis posuere orci, a hendrerit metus. Sed est turpis, congue in faucibus vitae, mollis sagittis leo. Aenean libero tellus, fermentum vitae consequat quis, posuere ac leo. Vivamus in eros feugiat sapien euismod rutrum eget sed nulla. Pellentesque ante nibh, euismod quis tortor id, porta accumsan eros.</p>
        </div>
        <div class="col-md-2"></div>
    </article>

</section>

<div class="container about-main">
    <div class="row">
        <div class="col-md-1"></div>
        <div class="main-text reveal">
            <header class="intro-header">
                <h2>Our brand values</h2>
            </header>
            <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit. Pellentesque quis posuere orci, a hendrerit metus. Sed est turpis, congue in faucibus vitae, mollis sagittis leo. Aenean libero tellus, fermentum vitae consequat quis, posuere ac leo. Vivamus in eros feugiat sapien euismod rutrum eget sed nulla. Pellentesque ante nibh, euismod quis tortor id, porta accumsan eros.</p>
        </div>
        <div class="col-md-1"></div>
    </div>

    <div class="row">
        <div class="inner-brand-values">

            <aside class="brand-value reveal-stagger match">
                <div class="inner">

                    <figure class="circle fa-10x">
                        <span class="fa-layers fa-fw" style="background:white">
                            <i class="fas fa-circle orange" ></i>
                            <i class="fa-inverse fas fa-handshake" data-fa-transform="shrink-6"></i>
                        </span>
                    </figure>

                    <header class="title">
                        <h3>Honesty</h3>
                    </header>

                    <p>Lorem ipsum dolor icit consecteur dolor.</p>
                </div>
            </aside>

            <aside class="brand-value reveal-stagger match">
                <div class="inner">
                    <figure class="circle">
                        <div class="circle fa-10x">
                            <span class="fa-layers fa-fw" style="background:white">
                                <i class="fas fa-circle orange" ></i>
                                <i class="fa-inverse fas fa-balance-scale" data-fa-transform="shrink-6"></i>
                            </span>
                        </div>
                    </figure>

                    <header class="title">
                        <h3>Integrity</h3>
                    </header>

                    <p>Lorem ipsum dolor icit consecteur dolor.</p>
                </div>
            </aside>


            <aside class="brand-value reveal-stagger match">
                <div class="inner">


                    <figure class="circle">
                        <div class="circle fa-10x">
                            <span class="fa-layers fa-fw" style="background:white">
                                <i class="fas fa-circle orange"></i>
                                <i class="fa-inverse fas fa-cube" data-fa-transform="shrink-6"></i>
                            </span>
                        </div>
                    </figure>

                    <header class="title">
                        <h3>Simplicity</h3>
                    </header>

                    <p>Lorem ipsum dolor icit consecteur dolor.</p>
                </div>
            </aside>

            <aside class="brand-value reveal-stagger match">
                <div class="inner">


                    <figure class="circle">
                        <div class="circle fa-10x">
                            <span class="fa-layers fa-fw" style="background:white">
                                <i class="fas fa-circle orange"></i>
                                <i class="fa-inverse fas fa-paint-brush" data-fa-transform="shrink-6"></i>
                            </span>
                        </div>
                    </figure>

                    <header class="title">
                        <h3>Style</h3>
                    </header>

                    <p>Lorem ipsum dolor icit consecteur dolor.</p>
                </div>
            </aside>

        </div>

    </div>
</div>



<!-- About us ends -->