<!-- Index -->

<!-- Index hero -->

<section class="container index-hero reveal">
    <img src="images/index/hero-image.jpg" class="img-respond" />
</section>

<!-- Index hero ends -->

<!-- Introductory text -->

<section class="container introductory-text reveal">
    <div class="row">
        <div class="col-md-2"></div>
        <aside class="intro-text-block">
            <div class="inner">
                <header class="intro-header">
                    <h1>Introductory text title</h1>
                </header>
                <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit. Pellentesque quis posuere orci, a hendrerit metus. Sed est turpis, congue in faucibus vitae, mollis sagittis leo. Aenean libero tellus, fermentum vitae consequat quis, posuere ac leo. Vivamus in eros feugiat sapien euismod rutrum eget sed nulla. Pellentesque ante nibh, euismod quis tortor id, porta accumsan eros.</p>

                <div class="enter-now-button">
                    <a href="catalogue.html" title="Enter Now" class="enter">
                        <button class="btn btn-enter">ENTER NOW <i class="fas fa-angle-right"></i></button>
                    </a>
                </div>
            
            </div>
        </aside>
        <div class="col-md-2"></div>
    </div>
</section>

<!-- Introductory text ends -->

<!-- Header -->

<section class="container-fluid main-header" data-parallax="scroll" data-speed="0.5" data-image-src="images/backgrounds/watch-texture.jpg">
    <header class="title reveal">
        <h2>Our prizes</h2>
    </header>
    <p class="reveal">Lorem ipsum dolor icit consecteur combect lorem</p>
</section>

<!-- Header ends -->

<!-- Prize teasers -->




<section class="container prize-teasers">
    <div class="row">

        <!-- Watch teaser -->
        <div class="watch-teaser match reveal-stagger">
            <div class="inner">
                <img src="images/products/watch-placeholder.jpg" class="img-respond" alt="Watch title">

                <div class="corner-ribbon"><span>ticket price £2.50</span></div>

                <div class="watch-teaser-hover">
                    <header class="teaser-header match-second">
                        <h4>Rolex Pearlmaster</h4>
                    </header>
                    <p>The Rolex Pearlmaster is Rolex's crowning jewellery watch. Featuring the softly curved lines of the Pearlmaster design, it is characterised by uniquely rich dials and exquisite gem settings of diamonds, sapphires or rubies and available only in 18 ct yellow, white or Everose gold made by Rolex in its own foundry.</p>

                    <a href="view-prize.html">
                        <div class="btn btn-teaser">
                            More information <i class="fas fa-angle-right"></i>
                        </div>
                    </a>
                </div>
            </div>
        </div>
        <!-- Watch teaser ends -->

         <!-- Watch teaser -->
        <div class="watch-teaser match reveal-stagger">
            <div class="inner">
                <img src="images/products/watch-placeholder.jpg" class="img-respond" alt="Watch title">

                <div class="corner-ribbon"><span>ticket price £2.50</span></div>

                <div class="watch-teaser-hover">
                    <header class="teaser-header match-second">
                        <h4>Rolex Pearlmaster</h4>
                    </header>
                    <p>The Rolex Pearlmaster is Rolex's crowning jewellery watch. Featuring the softly curved lines of the Pearlmaster design, it is characterised by uniquely rich dials and exquisite gem settings of diamonds, sapphires or rubies and available only in 18 ct yellow, white or Everose gold made by Rolex in its own foundry.</p>

                    <a href="view-prize.html">
                        <div class="btn btn-teaser">
                            More information <i class="fas fa-angle-right"></i>
                        </div>
                    </a>
                </div>
            </div>
        </div>
        <!-- Watch teaser ends -->

         <!-- Watch teaser -->
        <div class="watch-teaser match reveal-stagger">
            <div class="inner">
                <img src="images/products/watch-placeholder.jpg" class="img-respond" alt="Watch title">

                <div class="corner-ribbon"><span>ticket price £2.50</span></div>

                <div class="watch-teaser-hover">
                    <header class="teaser-header match-second">
                        <h4>Rolex Pearlmaster</h4>
                    </header>
                    <p>The Rolex Pearlmaster is Rolex's crowning jewellery watch. Featuring the softly curved lines of the Pearlmaster design, it is characterised by uniquely rich dials and exquisite gem settings of diamonds, sapphires or rubies and available only in 18 ct yellow, white or Everose gold made by Rolex in its own foundry.</p>

                    <a href="view-prize.html">
                        <div class="btn btn-teaser">
                            More information <i class="fas fa-angle-right"></i>
                        </div>
                    </a>
                </div>
            </div>
        </div>
        <!-- Watch teaser ends -->

         <!-- Watch teaser -->
        <div class="watch-teaser match reveal-stagger">
            <div class="inner">
                <img src="images/products/watch-placeholder.jpg" class="img-respond" alt="Watch title">

                <div class="corner-ribbon"><span>ticket price £2.50</span></div>

                <div class="watch-teaser-hover">
                    <header class="teaser-header match-second">
                        <h4>Rolex Pearlmaster</h4>
                    </header>
                    <p>The Rolex Pearlmaster is Rolex's crowning jewellery watch. Featuring the softly curved lines of the Pearlmaster design, it is characterised by uniquely rich dials and exquisite gem settings of diamonds, sapphires or rubies and available only in 18 ct yellow, white or Everose gold made by Rolex in its own foundry.</p>

                    <a href="view-prize.html">
                        <div class="btn btn-teaser">
                            More information <i class="fas fa-angle-right"></i>
                        </div>
                    </a>
                </div>
            </div>
        </div>
        <!-- Watch teaser ends --> 
 
    </div>

</section>

<section class="container view-collection reveal">
    <div class="row">
        <div class="main-button">
            <div class="enter-now-button">
                <a href="catalogue.html" title="Enter Now" class="enter">
                    <button class="btn btn-enter">VIEW ENTIRE COLLECTION <i class="fas fa-angle-right"></i></button>
                </a>
            </div>
        </div>
    </div>
</section>



<!-- Prize teasers ends -->

<!-- Index ends -->