<!-- How it works -->


<section class="container-fluid main-header top" data-parallax="scroll" data-speed="0.5" data-image-src="images/backgrounds/watch-texture-1.jpg">
    <header class="title reveal">
        <h1>How it works</h1>
    </header>
    <article class="container">
        <div class="col-md-2"></div>
        <div class="col-md-8">
            <p class="reveal">Lorem ipsum dolor sit amet, consectetur adipiscing elit. Pellentesque quis posuere orci, a hendrerit metus. Sed est turpis, congue in faucibus vitae, mollis sagittis leo. Aenean libero tellus, fermentum vitae consequat quis, posuere ac leo. Vivamus in eros feugiat sapien euismod rutrum eget sed nulla. Pellentesque ante nibh, euismod quis tortor id, porta accumsan eros.</p>
        </div>
        <div class="col-md-2"></div>
    </article>
</section>

<section class="container-fluid how-it-works">

    <div class="row ">

        <article class="inner step-odd">

            <div class="container steps-container">
                <div class="steps match">

                    <div class="circle reveal-from-left">
                        <div class="circle-inner match">
                            1
                        </div>
                    </div>

                    <div class="circle-text reveal-from-right ">
                        <div class="text match">
                            Lorem ipsum dolor sit amet, consectetur adipiscing elit. Lorem ipsum dolor sit amet, consectetur adipiscing elit.
                        </div>
                    </div>

                </div>
            </div>

        </article>

         <figure class="arrow-down ">
             <div class="inner reveal-static">
                 <i class="fas fa-angle-double-down"></i>
             </div>
        </figure>

    </div>

    <div class="row ">

        <article class="inner step-even">

            <div class="container steps-container">
                <div class="steps match">

                    <div class="circle reveal-from-left">
                        <div class="circle-inner match">
                            2
                        </div>
                    </div>

                    <div class="circle-text reveal-from-right">
                        <div class="text match">
                            Lorem ipsum dolor sit amet, consectetur adipiscing elit. Lorem ipsum dolor sit amet, consectetur adipiscing elit.
                        </div>
                    </div>

                </div>
            </div>

        </article>

        <figure class="arrow-down ">
             <div class="inner reveal-static">
                 <i class="fas fa-angle-double-down"></i>
             </div>
        </figure>

    </div>


    <div class="row ">

        <article class="inner step-odd">

            <div class="container steps-container">
                <div class="steps">

                    <div class="circle reveal-from-left">
                        <div class="circle-inner match">
                            3
                        </div>
                    </div>

                    <div class="circle-text reveal-from-right">
                        <div class="text match">
                            Lorem ipsum dolor sit amet, consectetur adipiscing elit. Lorem ipsum dolor sit amet, consectetur adipiscing elit.
                        </div>
                    </div>

                </div>
            </div>

        </article>

        <figure class="arrow-down ">
             <div class="inner reveal-static">
                 <i class="fas fa-angle-double-down"></i>
             </div>
        </figure>

    </div>


    <div class="row ">

        <article class="inner step-even">

            <div class="container steps-container">
                <div class="steps">

                    <div class="circle reveal-from-left">
                        <div class="circle-inner match">
                            4
                        </div>
                    </div>

                    <div class="circle-text reveal-from-right">
                        <div class="text match">
                            Lorem ipsum dolor sit amet, consectetur adipiscing elit. Lorem ipsum dolor sit amet, consectetur adipiscing elit.
                        </div>
                    </div>

                </div>
            </div>

        </article>

        <figure class="arrow-down ">
             <div class="inner reveal-static">
                 <i class="fas fa-angle-double-down"></i>
             </div>
        </figure>

    </div>


    <div class="row ">

        <article class="inner step-odd">

            <div class="container steps-container">
                <div class="steps">

                    <div class="circle reveal-from-left">
                        <div class="circle-inner match">
                            5
                        </div>
                    </div>

                    <div class="circle-text reveal-from-right">
                        <div class="text match">
                            Lorem ipsum dolor sit amet, consectetur adipiscing elit. Lorem ipsum dolor sit amet, consectetur adipiscing elit.
                        </div>
                    </div>

                </div>
            </div>

        </article>

    </div>

</section>

<section class="container faqs">
    <div class="row">
        <div class="col-md-1"></div>
        <div class="main-text reveal">
            <header class="intro-header">
                <h2>Frequently asked questions</h2>
            </header>
            <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit. Pellentesque quis posuere orci, a hendrerit metus. Sed est turpis, congue in faucibus vitae, mollis sagittis leo. Aenean libero tellus, fermentum vitae consequat quis, posuere ac leo. Vivamus in eros feugiat sapien euismod rutrum eget sed nulla. Pellentesque ante nibh, euismod quis tortor id, porta accumsan eros.</p>
        </div>
        <div class="col-md-1"></div>
    </div>
</section>

<section class="container faqs-accordion">
    <div class="row">
        <div class="inner">
            <article class="panel-group reveal" id="accordion">

                <div class="panel panel-default">
                    
                    <div class="panel-heading no-corners" role="tab" id="headingOne">

                        <div class="icon">
                            <i class="more-less fas fa-minus"></i>
                        </div>

                        <a data-toggle="collapse" data-parent="#accordion" href="#collapseOne" class="panel-link">
                            <h3 class="panel-title">
                                Lorem ipsum
                            </h3>
                        </a>

                    </div>
                    </a>
                    <div id="collapseOne" class="panel-collapse collapse in">
                        <div class="panel-body">
                            <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit. Pellentesque quis posuere orci, a hendrerit metus. Sed est turpis, congue in faucibus vitae, mollis sagittis leo. Aenean libero tellus, fermentum vitae consequat quis, posuere ac leo. Vivamus in eros feugiat sapien euismod rutrum eget sed nulla. Pellentesque ante nibh, euismod quis tortor id, porta accumsan eros.</p>
                        </div>
                    </div>
                </div>

                <div class="panel panel-default">
                    
                    <div class="panel-heading corners" role="tab" id="headingTwo">

                        <div class="icon">
                            <i class="more-less fas fa-plus"></i>
                        </div>

                        <a data-toggle="collapse" data-parent="#accordion" href="#collapseTwo" class="panel-link">
                            <h3 class="panel-title">
                                Lorem ipsum
                            </h3>
                        </a>

                    </div>
                    </a>
                    <div id="collapseTwo" class="panel-collapse collapse">
                        <div class="panel-body">
                            <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit. Pellentesque quis posuere orci, a hendrerit metus. Sed est turpis, congue in faucibus vitae, mollis sagittis leo. Aenean libero tellus, fermentum vitae consequat quis, posuere ac leo. Vivamus in eros feugiat sapien euismod rutrum eget sed nulla. Pellentesque ante nibh, euismod quis tortor id, porta accumsan eros.</p>
                        </div>
                    </div>
                </div>


                <div class="panel panel-default">
                    
                    <div class="panel-heading corners" role="tab" id="headingThree">
 
                        <div class="icon">
                            <i class="more-less fas fa-plus"></i>
                        </div>

                        <a data-toggle="collapse" data-parent="#accordion" href="#collapseThree" class="panel-link">
                            <h3 class="panel-title">
                                Lorem ipsum
                            </h3>
                        </a>

                    </div>
                    </a>
                    <div id="collapseThree" class="panel-collapse collapse">
                        <div class="panel-body">
                            <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit. Pellentesque quis posuere orci, a hendrerit metus. Sed est turpis, congue in faucibus vitae, mollis sagittis leo. Aenean libero tellus, fermentum vitae consequat quis, posuere ac leo. Vivamus in eros feugiat sapien euismod rutrum eget sed nulla. Pellentesque ante nibh, euismod quis tortor id, porta accumsan eros.</p>
                        </div>
                    </div>
                </div>


                <div class="panel panel-default">
                    
                    <div class="panel-heading corners" role="tab" id="headingFour">

                        <div class="icon">
                            <i class="more-less fas fa-plus"></i>
                        </div>

                        <a data-toggle="collapse" data-parent="#accordion" href="#collapseFour" class="panel-link">
                            <h3 class="panel-title">
                                Lorem ipsum
                            </h3>
                        </a>

                    </div>
                    </a>
                    <div id="collapseFour" class="panel-collapse collapse">
                        <div class="panel-body">
                            <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit. Pellentesque quis posuere orci, a hendrerit metus. Sed est turpis, congue in faucibus vitae, mollis sagittis leo. Aenean libero tellus, fermentum vitae consequat quis, posuere ac leo. Vivamus in eros feugiat sapien euismod rutrum eget sed nulla. Pellentesque ante nibh, euismod quis tortor id, porta accumsan eros.</p>
                        </div>
                    </div>
                </div>


        </article>
    </div>
</section>


<!-- How it works ends -->