<!-- Blank page -->


<div class="header"></div>
<section class="landing">
    <article class="details-container">
        <div class="inner">
            <figure class="logo">
                <img src="images/landing/logo.png" alt="The London Watch Competition">

                <figcaption>
                    WIN FROM APRIL 3
                </figcaption>

            </figure>

            <div class="countdown-container">
                <div id="countdown">P2DT20H00M10S</div>
            </div>

            <div class="sign-up">

                <header>
                    Sign up to stay updated
                </header>

                <div class="signup-form">

                    <form action="https://londonwatchcompetition.us12.list-manage.com/subscribe/post?u=68bd6949154b36acd3623d5fa&amp;id=652c993c2c" method="post" id="mc-embedded-subscribe-form" name="mc-embedded-subscribe-form" class="validate" target="_blank" novalidate>
                        
                        <div class="input-group landing-inputs">
                            <input type="email" value="" name="EMAIL" class="required email" id="mce-EMAIL" placeholder="*Email address">
                            <div class="input-group-btn">
                                <button class="btn" type="submit" value="Subscribe" name="subscribe" id="mc-embedded-subscribe">Sign up</button>
                            </div>
                        </div>
                        <div class="form-group radio-group">
                            <label class="radio-label" for="mce-MMERGE6-0">
                            <input type="checkbox" class="radio" value="Yes please! I agree to being contacted about competition information, offers and latest news by email" name="MMERGE6" id="mce-MMERGE6-0" checked>
                            <span class="red">*</span>Yes please! I agree to being contacted about competition information, offers and latest news by email</label>
                        </div>
                        
                        <div id="mce-responses" class="clear">
                            <div class="response" id="mce-error-response" style="display:none"></div>
                            <div class="response" id="mce-success-response" style="display:none"></div>
                        </div> 

                        <!-- real people should not fill this in and expect good things - do not remove this or risk form bot signups-->
                        <div style="position: absolute; left: -5000px;" aria-hidden="true"><input type="text" name="b_68bd6949154b36acd3623d5fa_652c993c2c" tabindex="-1" value=""></div>
                        {{!-- <input type="submit" value="Subscribe" name="subscribe" id="mc-embedded-subscribe" class="button"> --}}
              
                    </form>
                    
                </div>
            </div>

            <div class="social">

                <a href="https://www.facebook.com/LondonWatchCompetition/" target="_blank">
                    <div class="social-icon">
                        <i class="fab fa-facebook-f"></i> 
                    </div>
                </a>

                <a href="https://twitter.com/londonwatchcomp" target="_blank">
                    <div class="social-icon">
                        <i class="fab fa-twitter"></i> 
                    </div>
                </a>
                
                <a href="https://www.instagram.com/londonwatchcompetition/" target="_blank">
                    <div class="social-icon">
                        <i class="fab fa-instagram"></i>
                    </div>
                </a>
                
                
            </div>
        </div>
    </article>
</section>

<!-- Blank page ends -->