<!-- Change password -->

<section class="container-fluid form-header">
    <header>
        <h1>Change your password</h1>
    </header>

    <article class="container">
        <div class="col-md-2"></div>
        <div class="col-md-8">
            <p class="reveal">Lorem ipsum dolor sit amet, consectetur adipiscing elit. Pellentesque quis posuere orci, a hendrerit metus. Sed est turpis, congue in faucibus vitae, mollis sagittis leo. Aenean libero tellus, fermentum vitae consequat quis, posuere ac leo. Vivamus in eros feugiat sapien euismod rutrum eget sed nulla. Pellentesque ante nibh, euismod quis tortor id, porta accumsan eros.</p>
        </div>
        <div class="col-md-2"></div>
    </article>
</section>

<section class="container-fluid form-outer login-form">
    <div class="container">
        <div class="row">
            <div class="col-md-3"></div>

            <div class="col-md-6 form">
                
                <div class="inner">

                    <form >

                        <div class="form-group">
                            <label for="password" class="clearfix"><span class="red">*</span>Old password:</label>
                            <div class="input-group">
                                
                                <input type="password" class="form-control password" id="password" pass-show="false" required />
                                <div class="input-group-btn show-password" data-toggle="tooltip" data-placement="top" title="Show passwords">
                                    <button class="btn-form ">
                                        <i class="fas fa-eye"></i>
                                    </button>
                                </div>
                            </div>
                        </div>

                        <div class="form-group">
                            <label for="new-password" class="clearfix"><span class="red">*</span>New password:</label>
                            <input type="password" class="form-control password" id="new-password" pass-show="false" required />
                        </div>

                        <div class="form-group">
                            <label for="new-repeat-password" class="clearfix"><span class="red">*</span>Repeat new password:</label>
                            <input type="password" class="form-control password" id="new-repeat-password" pass-show="false" required />
                        </div>

                        <div class="required">
                            <span class="red">*</span> Required field
                        </div>

                        <div class="submit">
                            <button type="submit" class="btn btn-enter">Change password</button>
                        </div>

                    </form>
                </div>
            </div>

            <div class="col-md-3"></div>
        </div>
    </div>
</section>

<!-- Change password ends -->