/*! Main Header */

.main-header {
    margin-top:60px;
    text-align:center;
    padding-top:60px;
    padding-bottom:80px;

    p {
        @include fs(18,24);
        font-weight:400;
        color:white;
        margin-bottom:0;
        padding-bottom:0;
    }
}

.top {
    margin-top:0;
}