<!-- Header  -->

<section class="header ">

    <!-- Header logo -->

    <figure class="header-logo">
        <div class="container">
            <div class="row">

                <div class="col-sm-4"></div>

                <figure class="col-sm-4 logo">
                    <a href="index.html" title="Home" class="logo-link"><img src="images/logo.png" alt="London Watch Competition Logo" class="img-respond" /></a>
                </figure>

                <div class="col-sm-4"></div>

            </div>
        </div>
    </figure>

    

    <!-- Header logo ends -->

    <!-- Navbar -->

    <nav class="navbar navbar-default">

        <div class="container">

            <div class="navbar-header">

                <div class="navbar-toggle collapsed" data-toggle="collapse" data-target="#collapser" aria-expanded="false">
                    <div></div>
                    <div></div>
                    <div></div>
                </div>
                
            </div>

            <div class="collapse navbar-collapse" id="collapser">
                <ul class="nav navbar-nav navbar-left">
                    <li><a href="index.html">Home</a></li>
                    <li><a href="about.html">About</a></li>
                    <li><a href="how-it-works.html">How it works</a></li>
                    <li><a href="catalogue.html">Catalogue</a></li>
                </ul>

                <ul class="nav navbar-nav navbar-right">
                    <li><a href="login.html">Login</a></li>
                    <!--li><a href="#">Logout</a></li-->
                    <li><a href="register.html">Register</a></li>
                    <!--li><a href="#">Account Settings</a></li-->
                </ul>
            </div>
        </div>
    </nav>

    <!-- Navbar ends -->

</section>

<!-- Header Ends -->